@page "/"

<PageTitle>Start</PageTitle>


<h1>Valheim - A game for real vikings!</h1>

<p>
    Valheim takes place in a world where slain Vikings go to prove themselves fit for the halls of Valhalla.
    As one such, the player begins with nothing and soon discovers that to reach the Norse afterlife,
    they must defeat the evils that stalk Valheim. Led only by their instincts and occasional hints from a raven, the
    player must prepare to fight the sworn enemies of Odin himself.
</p>

<blockquote>
    The term "Valheim" denotes a fictional tenth world within the world tree Yggdrasil of Norse mythology.
</blockquote>

<h2>Gameplay</h2>
<p>
    Valheim is an open-world survival game played from a third-person perspective. As fallen Vikings, players must craft
    tools, build shelters and fight enemies to survive. The game uses distinctive low-resolution stylized 3D graphics, with
    a combat system inspired by action games. Co-operative gameplay with up to ten people and optional PvP gameplay is also
    supported.<sup>1</sup>
</p>

<i>source: https://en.wikipedia.org/wiki/Valheim</i>

<h3>Buy the game</h3>
If you are instrested in buying the game and support the Swedish Indie studio IronGate you can buy if from Steam. Follow
the link below!
<p><a href="https://store.steampowered.com/app/892970/Valheim/" target="_blank">https://store.steampowered.com/app/892970/Valheim/</a></p>



<a href="https://www.valheimgame.com/" target="_blank">Visit the Valheim homepage to learn more!</a>
