@page "/json"

@using System.Threading.Tasks;
@using RazmusBlazorWASM.Entities

@inject RazmusBlazorWASM.Services.IStarWarsService StarWarsService

<PageTitle>JSON</PageTitle>

<h1>JSON</h1>

@if (films == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row">
    @foreach (var film in films)
        {
            <a class="card m1 bg-dark-opacity" @onclick="() => SetActiveFilm(film.Url)">
                <div class="row no-gutters">
                    <div class="col-4">
                        <img class="card-img" src="" />
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <p>@film.Release_date</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
}

@code {
    List<Film> films = new List<Film>();
    public Film activeFilm = new Film();
    protected override async Task OnInitializedAsync()
    {
        var response = await StarWarsService.getFilms();
        if (response != null)
        {
            films.AddRange(response.results);
        }
    }
    private async Task SetActiveFilm(string url)
    {
        var response = await StarWarsService.getFilm(url);
        if (response != null)
        {
            activeFilm = response;
        }
    }
}